<div class="flex justify-content-center align-items-center w-screen h-screen">
  <p-card styleClass="shadow-8 border-round-3xl">
    <div class="flex col">
      <div class="gird col">
        <div class="card md:flex md:justify-content-center">
          <p-galleria
            [value]="images"
            [(activeIndex)]="activeIndex"
            [numVisible]="5"
            [showIndicators]="true"
            [showThumbnails]="false"
            [circular]="true"
            [autoPlay]="true"
            [transitionInterval]="3000"
          >
            <ng-template pTemplate="item" let-item>
              <img [src]="item.itemImageSrc" style="width: 100%" />
            </ng-template>
          </p-galleria>
        </div>
      </div>
      <div class="gird col text-center">
        <div class="col">
          <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input type="text" pInputText />
          </span>
        </div>
        <div class="col">
          <span class="p-input-icon-left">
            <i class="pi pi-lock"></i>
            <p-password [toggleMask]="true"></p-password>
          </span>
        </div>
        <p-button label="ล็อคอิน" styleClass="w-full mt-5"></p-button>
      </div>
    </div>
  </p-card>
</div>
